<!DOCTYPE html>
<html>
<head>
    <title>Factura</title>
    <style>
        /* Agrega estilos CSS para el diseño de la factura */
        /* Por ejemplo: */
        body {
            font-family: Arial, sans-serif;
        }
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>Factura</h1>
    <p>Cliente: {{ nombre }} {{ apellido }}</p>

    <table>
        <tr>
            <th>Producto</th>
            <th>Cantidad</th>
            <th>Precio Unitario</th>
            <th>Total</th>
        </tr>
        {% for item in detail_items %}
            <tr>
                <td>{{ item.producto }}</td>
                <td>{{ item.cantidad }}</td>
                <td>{{ item.precio_unitario }}</td>
                <td>{{ item.total_item }}</td>
            </tr>
        {% endfor %}
        <tr>
            <td colspan="3">Total Amount:</td>
            <td>{{ total_amount }}</td>
        </tr>
    </table>

    <script>
        document.getElementById('continuarButton').addEventListener('click', function() {
            // Redireccionar a la siguiente página o realizar alguna acción adicional aquí
            // window.location.href = '/ruta/donde/redireccionar/';
        });
    </script>
</body>
</html>
